body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Roboto";
    box-sizing: border-box;
}

.navbar {
    background-color: #2c4842;
    margin-top:0;
    left: 0;
    width: 100%;
    z-index: 9;
}

.navbar-menu {
    list-style-type: none;
    margin-top:0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu > li {
    position: relative;
}

.navbar-menu > li > a {
    display: block;
    color: #F0DED0;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar-menu > li > a:hover {
    background-color: #707168;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu > li > a {
    color: #F0DED0;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-menu > li > a:hover {
    background-color: #575757;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu.show {
    display: block;
}

/* Barra lateral fija */
.sidebar {
    height: 100%;
    width: 250px; /* Ancho de la barra lateral */
    height: calc(100% - 40px);
    top: 40px;
    left: 0;
    background-color: #2C4842;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1); /* Sombra para la barra lateral */
    overflow-y: auto; /* Permitir el scroll si el contenido se excede */
    z-index: 9;
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu li {
    margin: 15px 0;
}

.sidebar-menu li a {
    color: #F0F0F0;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.sidebar-menu li a:hover {
    background-color: #34495E;
}

/* Contenido principal */
.content {
    margin-left: 250px; /* Espacio para la barra lateral */
    padding: 20px;
}

/* Contenedor del almanaque */
.calendar-container {
    width: 100%; /* Asegurar que el contenedor se ajuste al 100% del ancho de la barra */
    max-width: 250px; /* Limitar el ancho del calendario al tamaño de la barra lateral */
    margin-top: 20px;
    color: #F0F0F0;
    text-align: center; /* Centrar el contenido dentro del contenedor */
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columnas para cada día de la semana */
    gap: 5px;
    text-align: center;
    color: #F0F0F0;
}

#calendar .day {
    background-color: #34495E;
    padding: 10px;
    box-sizing: border-box; /* Asegura que el padding se incluya dentro del ancho total */
    padding: 5px; /* Reducir el padding de las celdas */
    font-size: 12px; /* Reducir el tamaño de la fuente si es necesario */
}

#calendar .current-day {
    background-color: #1ABC9C; /* Estilo especial para el día actual */
}

.sidebar-menu li a, .calendar-container {
    word-wrap: break-word; /* Para romper el texto si es necesario */
}

/* Contenido principal */
.content {
    margin-left: 250px; /* Espacio para la barra lateral */
    padding: 20px;
}

.main-content {
    margin-top: 40px; /* Desplaza el contenido principal hacia abajo */
    padding: 20px;
}