
body{
    background-color: #1B262D;
    min-width: 100vh;
    overflow-x: hidden;
}

.parallax{
    position: relative;
    background-attachment: fixed; /* Esto crea el efecto de parallax */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Se adapta a diferentes tamaños de pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.parallax img{
    position: absolute;
    top: 0;
    right: 7%;
    align-items: center;
    max-width: 85%;
    height: auto;
    pointer-events: none;
    z-index: 1;
    object-fit: cover;
}

#ilust2, #ilust3{
    opacity: 0.9;
    filter: brightness(70%);
    
}

#ilust4{
    box-shadow: rgba(0,0,0,0.5);
    padding: 20px;
    max-width: 80%;
    margin-top: 50px;

}

.sec{
    position: relative;
    background-color: #1B262D;
    margin-top: 20px;
    padding: 100px;
}

.sec h2{
    font-size: 3em;
    color: #F0DED0;
    margin-bottom: 10px;
}

.sec p {
    font-size: 1em;
    color: #F0DED0;
    font-weight: 300;
}

/* Ajustes para tabletas y teléfonos en la media query */
@media only screen and (max-width: 768px) {
    .parallax {
        height: 50vh;
        background-attachment: scroll;
        background-size: cover;
    }
    parallax img {
        width: 100%;
        height: auto; /* Mantener la proporción en pantallas pequeñas */
        object-fit: contain; /* Ajustar la imagen al contenedor */
    }

    .sec {
        padding: 50px; /* Reducir el padding para mejor ajuste en pantallas pequeñas */
    }

    .sec h2 {
        font-size: 2em; /* Ajustar el tamaño del título en pantallas pequeñas */
    }

    .sec p {
        font-size: 0.9em; /* Ajustar el tamaño del párrafo */
    }

    .navbar-menu {
        flex-direction: column; /* Cambiar menú a columna en pantallas pequeñas */
        align-items: center;
    }

    .navbar-menu > li > a {
        padding: 10px 15px; /* Reducir el tamaño del padding en el menú */
    }
}

/* Ajustes adicionales para pantallas muy pequeñas (teléfonos) */
@media only screen and (max-width: 480px) {

    .navbar-menu {
        font-size: 0.9em; /* Reducir el tamaño de la fuente del menú */
    }

    .sec {
        padding: 30px; /* Reducir padding para mejorar la legibilidad en teléfonos */
    }

    .sec h2 {
        font-size: 1.8em;
    }

    .sec p {
        font-size: 0.8em;
    }
    .parallax img {
        width: 100%; /* Asegura que se ajuste bien en pantallas muy pequeñas */
        height: auto;
        object-fit: cover; /* Ajusta la imagen sin distorsionarla */
    }
}
 
