body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Roboto" , sans-serif;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    width: 100%; 
    background-color: rgba(44, 72, 66, 0.9); /* Transparencia para el fondo */
    z-index: 9999; /* Asegura que esté sobre el contenido */
    height: 60px;
    display: flex;
    justify-content: center; /* Centra el menú */
    align-items: center; /* Alinea los items verticalmente */
    padding: 0 20px; /* Añade algo de espacio a los lados */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around; /* Distribuye los elementos de manera uniforme */
    width: 100%; /* Asegura que ocupen todo el ancho del navbar */
    max-width: 1200px; /* Limita el ancho máximo para evitar que se extienda demasiado */
}

.navbar-menu > li {
   margin: 0;
}
.navbar-menu > li > a {
    display: block;
    color: #F0DED0; /* Color sólido claro para contraste */
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    z-index: 1000; /* Asegura que el texto esté por encima del fondo */
    position: relative; /* Necesario para que z-index funcione en los elementos */
}


.navbar-menu > li > a:hover {
    background-color: #707168;
}
  
/* Barra lateral */
.sidebar {
    position: absolute;
    width: 280px;
    height: calc(100% - 2px);
    top: 106px;
    left: 0;
    background-color: rgba(44, 72, 66, 0.9);
    box-shadow: 2px 0 5px rgba(0,0,0,0.1); 
    overflow-y: auto; 
    z-index: 999;
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu li {
    margin: 15px 0;
}

.sidebar-menu li a {
    color: #F0DED0;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.sidebar-menu li a:hover {
    background-color: #34495E;
}

/* Contenido principal */
.content {
    margin-left: 250px; /* Espacio para la barra lateral */
    padding: 20px;
}

/* Contenedor del almanaque */
.calendar-container {
    width: 100%; /* Asegurar que el contenedor se ajuste al 100% del ancho de la barra */
    max-width: 250px; /* Limitar el ancho del calendario al tamaño de la barra lateral */
    margin-top: 290px;
    padding: 10px;
    color: #F0DED0;
    text-align: center; /* Centrar el contenido dentro del contenedor */
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columnas para cada día de la semana */
    gap: 5px;
    text-align: center;
    color: black;
}

#calendar .day {
    background-color: #F0DED0;
    box-sizing: border-box; /* Asegura que el padding se incluya dentro del ancho total */
    padding: 5px; 
    font-size: 12px; /* Reducir el tamaño de la fuente si es necesario */
}

#calendar .current-day {
    background-color: #CB8873; /* Estilo especial para el día actual */
}

.sidebar-menu li a, .calendar-container {
    word-wrap: break-word; /* Para romper el texto si es necesario */
}

/* Contenido principal */
.content {
    margin-left: 250px; /* Espacio para la barra lateral */
    padding: 20px;
}

.main-content {
    margin-top: 40px; /* Desplaza el contenido principal hacia abajo */
    padding: 20px;
}

.photo-slider {
    margin: auto;
    background-color: currentColor;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    position: relative;
}

.img-slider {
    display: flex;
    overflow: hidden;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
    position: relative;

}

.img-slider img {
    flex: 0 0 100%;
    object-fit: cover;
    max-width: 100%;
    height: auto;
}

.img-slider::-webkit-scrollbar {
    display: none;
}

.button-slider {
    display: flex;
    gap: 20px;
    position: absolute;
    left: 50%;
    bottom: 8%;
    transform: translateX(-50%);
}

.button-slider a {
    width: 1rem;
    height: 1rem;
    background-color: none;
    border-radius: 50%;
    outline-style: solid;
    outline-color: antiquewhite;
}

.button-slider :hover {
    background-color: antiquewhite;
    opacity: 80%;
    animation: fadeIn 1s;
}
