
/* Main */
main {
    display: flex;
    flex-direction: row;
    background-color: #1B262D;
}

/* Adjusts the main content for smaller screens */
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .side-image-container {
        width: 100%;
        margin-bottom: 20px;
    }

    .presentacion-box {
        width: 100%;
    }
}

.side-image-container {
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: 105px;
}

.side-image {
    width: 100%;
    height: auto;
}

.presentacion-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B262D;
    color: #CB8873;
}

.presentacion-box {
    border: none;
    padding: 20px;
    width: 70%;
    box-sizing: border-box;
}

.presentation-content {
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.presentation-content h2 {
    color: #F0DED0;
    font-size: 1.1em;
}

.presentation-content p {
    color: #A5A3A1;
    font-size: 0.8em;
    margin-bottom: 50px;
}

.presentation-content img {
    width: 15px;
    height: 10px;
}

.articles-container {
    display: flex;
    justify-content: space-between;
}

/* Adjusts the article layout for smaller screens */
@media (max-width: 360px) {
    .articles-container {
        flex-direction: column;
        align-items: center;
    }

    article {
        width: 100%;
        margin-bottom: 20px;
    }
}

article {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.article-header {
    border-bottom: 1px solid #F09F9C;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    color: #F0DED0;
}

.technique h3 {
    color: #F0DED0;
    font-size: 0.9em;
}

.disenos h3 {
    color: #F0DED0;
    font-size: 0.9em;
}

.disenos p {
    color: #A5A3A1;
    font-size: 0.8em;
}

.technique p {
    color: #A5A3A1;
    font-size: 0.8em;
}
