
/* Main */
main {
    display: flex;
    flex-direction: row;
    background-color: #1B262D;
}

/* Adjusts the main content for smaller screens */
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .side-image-container {
        width: 100%;
        margin-bottom: 20px;
    }

    .presentacion-box {
        width: 100%;
    }
}

.side-image-container {
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: 105px;
}

.side-image {
    width: 100%;
    height: auto;
}

.presentacion-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B262D;
    color: #CB8873;
}

.presentacion-box {
    border: none;
    padding: 20px;
    width: 70%;
    box-sizing: border-box;
}

.presentation-content {
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.presentation-content h2 {
    color: #F0DED0;
    font-size: 1.1em;
}

.presentation-content p {
    color: #A5A3A1;
    font-size: 0.8em;
    margin-bottom: 50px;
}

.presentation-content img {
    width: 15px;
    height: 10px;
}

.articles-container {
    display: flex;
    justify-content: space-between;
}

/* Adjusts the article layout for smaller screens */
@media (max-width: 768px) {
    .articles-container {
        flex-direction: column;
        align-items: center;
    }

    article {
        width: 100%;
        margin-bottom: 20px;
    }
}

article {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.article-header {
    border-bottom: 1px solid #F09F9C;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    color: #F0DED0;
}

.technique h3 {
    color: #F0DED0;
    font-size: 0.9em;
}

.disenos h3 {
    color: #F0DED0;
    font-size: 0.9em;
}

.disenos p {
    color: #A5A3A1;
    font-size: 0.8em;
}

.technique p {
    color: #A5A3A1;
    font-size: 0.8em;
}

.logo-dream {
    width: 37px;
    height: 43px;
    margin-bottom: -10px;
    margin-left: -9px;
}

.footer-column.logo-column .logo {
    width: 50px;
    height: 40px;
}

.center-column {
    text-align: center;
    font-size: 0.9em;
    margin-left: 20%;
}

.center-column p {
    margin: 0;
}

.it-girls {
    font-weight: bold;
    color: #F0DED0;
    text-decoration: none;
}

.it-girls:hover {
    text-decoration: underline;
    color: #F09F9C;
}

.contact-column {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contact-details {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-bottom: 5px;
    margin-right: 20px;
}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.contact-icon {
    width: 20px;
    height: 20px;
    margin-top: 2px;
}

.copy {
    font-size: 0.8em;
    margin-right: 15px;
}
