.photo-slider {
    max-width: 100%;
    margin: auto;
    background-color: #1B262D;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.img-slider {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory; /* Se asegura de que la imagen se alinee en su lugar al deslizar */
    scroll-behavior: smooth;
    width: 100%;
    max-width: 470px;
    max-height: 80vh;
    margin: 0 auto;
    position: relative;
    top: 120px;
}

.img-slider img {
    flex: 0 0 100%; /* Cada imagen ocupará el 100% del ancho del contenedor */
    max-width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor */
    max-height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra todo el espacio sin deformarse */
    scroll-snap-align: center; /* Hace que cada imagen se alinee correctamente al deslizar */
}

.img-slider::-webkit-scrollbar {
    display: none; /* Oculta la barra de scroll */
}

.button-slider {
    display: flex;
    gap: 20px;
    position: absolute;
    left: 50%;
    bottom: 8%;
    transform: translateX(-50%);
}

.button-slider a {
    width: 1rem;
    height: 1rem;
    background-color: none;
    border-radius: 50%;
    outline-style: solid;
    outline-color: antiquewhite;
}

.button-slider :hover {
    background-color: antiquewhite;
    opacity: 80%;
    animation: fadeIn 1s;
}

/* Tabletas y iPads */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #1B262D;
        color: #fff;
        padding: 20px;
    }

    .left-column, .right-column {
        display: flex;
        justify-content: center;
        margin: 10px 0;
    }

    .center-column {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .navbar {
        height: auto; /* Dejar que la altura se ajuste automáticamente */
    }

    .navbar-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-menu > li {
        margin: 10px 0; /* Añade espacio entre los elementos */
    }



    .contact-column {
        display: flex;
        align-items: center;
    }
    .photo-slider {
        max-width: 100%;
        margin: auto;
        position: relative;
        display: flex;
        justify-content: center;
        background-color: #1B262D;
    }

    .img-slider {
        display: flex;
        overflow: hidden;
        width: 100%;
        max-height: 60vh; /* Ajuste la altura máxima para tabletas */
    }

    .img-slider img {
        width: 100%;
        height: auto;
        max-height: 100%;
        object-fit: cover;
    }
    
}

/* Teléfonos */
@media only screen and (max-width: 360px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #1B262D;
        color: #fff;
        padding: 15px;
    }

    .left-column {
        font-size: 0.9em;
        margin-bottom: 10px;
        text-align: center;
    }

    .center-column {
        margin-bottom: 15px;
    }

    .right-column {
        margin-bottom: 10px;
        gap: 15px;
    }

    .navbar-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
    }

    .navbar-menu > li {
        width: 100%;
        text-align: center;
    }

    .navbar-menu > li > a {
        width: 100%;
        padding: 15px 0;
    }

    .footer {
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }

    .contact-column {
        align-items: center;
        margin-bottom: 10px;
    }

    .photo-slider {
        max-height: 50vh; /* Ajusta la altura máxima del slider de fotos en dispositivos móviles */
    }

    .img-slider {
        max-height: 30vh; /* Reduce la altura máxima de las imágenes en dispositivos móviles */
    }

    .button-slider {
        bottom: 5%; /* Ajusta la posición de los botones del slider */
    }
}


